<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Product Maintenance - Pizza Ordering System</title>
	<style>
		table {
			margin: auto;
			border-collapse: collapse;
			width: 80%;
			max-width: 800px;
			background-color: #f8f8f8;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
			border-radius: 10px;
			overflow: hidden;
		}
		th, td {
			text-align: left;
			padding: 12px;
		}
		th {
			background-color: #4CAF50;
			color: white;
		}
		th.empty {
			background-color: #4CAF50;
			color: white;
			width: 60px;
		}
		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
		tr:hover {
			background-color: #ddd;
		}
		h1 {
			text-align: center;
			margin-top: 50px;
		}
		button {
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 6px 12px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 14px;
			margin: 2px 2px;
			cursor: pointer;
			border-radius: 6px;
			transition: background-color 0.3s ease;
			height: 28px;
			min-width: 50px;
		}
		button:hover {
			background-color: #3e8e41;
			transition: background-color 0.3s ease;
		}
		.add-btn {
			margin-top: 20px;
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>Product Maintenance</h1>
	
	<table>
		<thead>
			<tr>
				<th>PizzaId</th>
				<th>Name</th>
				<th>Price</th>
				<th>Size</th>
				<th>Category</th>
				<th>Status</th>
				<th>Base</th>
				<th class="empty"></th>
				<th class="empty"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pizza : ${pizzas}">
				<td th:text="${pizza.pizzaId}"></td>
				<td th:text="${pizza.name}"></td>
				<td th:text="${pizza.price}"></td>
				<td th:text="${pizza.size}"></td>
				<td th:text="${pizza.category}"></td>
				<td th:text="${pizza.status}"></td>
				<td th:text="${pizza.base}"></td>
				<td>
					<form th:action="@{/editPizza/{id}(id=${pizza.id})}" method="get">
						<button type="submit">Edit</button>
					</form>
				</td>
				<td>
					<form th:action="@{/deletePizza/{id}(id=${pizza.id})}" method="post" onsubmit="return confirm('Are you sure you want to delete this pizza item?')">
						<button type="submit">Delete</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="add-btn">
	<form th:action="@{/addPizza}" method="get">
		<button type="submit">Add</button>
	</form>
	</div>
	</body>
</html>
	
	

